@model RPGStarter.Models.World

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>World</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="roomName" class="control-label"></label>
                <input asp-for="roomName" class="form-control" />
                <span asp-validation-for="roomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roomDesc" class="control-label"></label>
                <input asp-for="roomDesc" class="form-control" />
                <span asp-validation-for="roomDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eventID" class="control-label"></label>
                <input asp-for="eventID" class="form-control" />
                <span asp-validation-for="eventID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
